.bottom-header-content {
	display: flex;
}
.nav-items {
	display: flex;
	align-items: center;
	width: 65%;
}

.bottom-header-content nav {
	padding: 0%;
}

.nav-items li {
	list-style: none;
	font-style: normal;
	font-weight: 800;
	font-family: "Light";
	transform: skew(-30deg);
	border-left: 1px solid black;
}

.bottom-header-content .header-heading {
	font-family: "Light";
	font-weight: 800;
	font-size: 34px;
	line-height: 39px;
	width: 35%;
}

.bottom-header-content p.anti-skew {
	transform: skew(30deg);
}

.header-heading {
	max-width: 50%;
	text-align: center;
	width: 100%;
}
.header-heading h1 {
	font-weight: 800;
}
.navlink {
	color: #000000;
	text-decoration: none;
}
.navlink:active {
	color: #0854a1;
}
.navlink:focus {
	color: #0854a1;
}

.breadCrumb {
	transform: skew(50deg);
	padding-top: 5px;
	padding-bottom: 5px;
}
.MuiBreadcrumbs-li {
	border-left: none !important;
}
.MuiBreadcrumbs-li a {
	text-decoration: none !important;
	color: #0854a1;
}

li.MuiBreadcrumbs-separator {
	border: none !important;
	padding: 0 !important;
	margin: 0 !important;
	font-size: 28px !important;
}
ol.MuiBreadcrumbs-ol{
	-webkit-flex-wrap: nowrap !important;
	flex-wrap: nowrap !important;
}
@media screen and (max-width: 2560px) {
	ol.MuiBreadcrumbs-ol {
		padding-top: 12px !important;
		padding-bottom: 12px !important;
	}
	.nav-items li {
		font-size: 14px;
		padding: 0px 8px;
	}
  	.header-heading h1 {
		font-size: 28px;
		line-height: 39px;
	}
}

@media screen and (max-width: 1440px) {
	ol.MuiBreadcrumbs-ol {
		padding-top: 11px !important;
		padding-bottom: 11px !important;
	}
	.nav-items li {
		font-size: 14px;
		padding: 0px 8px;
	}

	.header-heading h1 {
		font-size: 28px;
		line-height: 39px;
	}

	.header-heading {
		max-width: 50%;
	}
}

@media screen and (max-width: 1024px) {
	ol.MuiBreadcrumbs-ol{
		padding-top: 6px !important;
		padding-bottom: 6px !important;
	}
	.nav-items li {
		font-size: 10px;
		padding: 0px 6px;
	}

	.header-heading h1 {
		font-size: 20px;
		line-height: 39px;
	}

	.header-heading {
		max-width: 40%;
	}
}

@media screen and (max-width: 768px) {
	ol.MuiBreadcrumbs-ol{
		padding-top: 3px !important;
		padding-bottom: 3px !important;
	}
	.nav-items li {
		font-size: 8px;
		padding: 0px 5px;
	}

	.header-heading h1 {
		font-size: 16px;
		line-height: 39px;
	}

	.header-heading {
		max-width: 35%;
	}
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
	.bottom-header-content{
	   display: none;
	}
	 
  
  }