.top-header-content {
	width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	font-family: "Light";
	justify-content: space-between;
	height: 100px;
}

.top-header-content p {
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
}

ul.MuiList-root.MuiList-padding.MuiMenu-list {
	padding: 0px !important;
	border-radius: 0px !important;
	font-family: "Light";
	font-weight: 800 !important;
	font-size: 16px !important;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper {
	width: 212px;
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
	.top-header-content{
		height: 50px;
		width: 50%;
	}
	 
  
  }