.project-main-div{
    height: 75vh;
    width: 73%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-main-div>p{
    font-size: 4vh;
    color: #000000;
    font-weight: bold;
    font-family: "Light";
}


    @media screen and (max-width: 1440px) {
	
        .project-main-div{
            height: 75vh;
            width: 73%;
        }
        
    }
    
    @media screen and (max-width: 1024px) {
        .project-main-div{
            height: 75vh;
            width: 73%;
        }
       }
    
       @media screen and (max-width: 768px) {
        .project-main-div{
            height: 60vh;
            width: 73%;
        }
       }