.project-main-div{
    
    width: 64%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-main-div>p{
    font-size: 4vh;
    color: #000000;
    font-weight: bold;
    font-family: "Akira Expanded", sans-serif;
}