.project-main-div{
    height: 75vh;
    width: 73%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-main-div>p{
    font-size: 4vh;
    color: #000000;
    font-weight: bold;
    font-family: "Akira Expanded", sans-serif;
}