@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.main {
	padding: 30px 40px 10px 0px;
	width: 95%;
	margin: 0 auto;
}
.main-div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main-div > p {
	font-size: 3.6vh;
	color: #000000;
	font-weight: bold;
	font-family: "Light";
	line-height: 23px;
	margin-bottom: 30px;
}
.image-div {
	display: flex;
	gap: 10px;
}
.image-div > img {
	width: 50%;
}

.generic {
	padding: 40px 20px 30px 40px;
}
.generic > p {
	font-size: 3.2vh;
	color: #000000;
	font-weight: bold;
	font-family: Geneva, Verdana, sans-serif;
	line-height: 23px;
}
.generic-details {
	display: flex;
	flex-wrap: wrap;
	
	gap: 50px;
}
.generic-details > p {
	font-size: 1.6vh;
	color: #000000;
	font-weight: 700;
	font-family: "Light";
	line-height: 2.6vh;
}
.typologies {
	padding-top: 30px;
	background-color: #D9D9D9;
}
.typology-heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 0px;
}
.typo {
	font-size: 1.5vh;
	color: #000000;
	font-weight: bold;
	font-family: "Light";
}
.typo {
	font-size: 1.8vh;
}

.typo2 {
	font-size: 2.7vh;
}
.typology-details {
	padding: 10px 120px 50px 120px;
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
	justify-content: center;
}
.pic-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.pic-div > P {
	margin-top: 30px;
	font-size: 1.6vh;
}

.examples {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}

.live-image {
	display: flex;
	gap: 20px;
}
.live-text {
	margin-top: 80px;
	color: #000000;
	font-weight: bold;
	font-family: "Light";
	margin-bottom: 40px;
}
.live-left {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.live-left > img {
	width: 100%;
}
.live-center > img {
	width: 100%;
	height: 100%;
}
.live-right > img {
	width: 100%;
}
.live-right {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

/* Other secs images responsiveness */
@media (max-width: 1024px) {
	.live-left > img {
		width: 100%;
	}
	.live-center > img {
		width: 100%;
		height: 100%;
	}
	.live-right > img {
		width: 100%;
	}
}

/* React slick */
.slide img {
	width: 30rem;
	height: 25rem;
	margin: 0 auto;
}

.slide {
	transform: scale(0.6);
	transition: transform 300ms;
	opacity: 0.5;
}

.activeSlide {
	transform: scale(1.3);
	opacity: 1;
}

.arrow {
	background-color: transparent;
	position: absolute;
	cursor: pointer;
	z-index: 10;
}

.arrow svg {
	transition: color 300ms;
	color: #ffffff5e;
}

.arrow svg:hover {
	color: #ffffff8a;
}

.next {
	right: 0%;
	top: 50%;
}

.prev {
	left: 0%;
	top: 50%;
}

/* cancel_carousel Btn */
.cancel_carousel:hover {
	cursor: pointer;
}

/* Responsivenes slick slider */
/* responsive slides */
.slick-slider {
	top: 15%;
}

@media (max-width: 2560px) {
  .slide img {
		width: 100%;
		height: 25rem;
		margin: 0 auto;
	}
	.slide {
		transform: scale(0.6);
	}
	.activeSlide {
		transform: scale(1.1);
	}
}

@media (max-width: 1444px) {
  .slide img {
		width: 100%;
		height: 20rem;
		margin: 0 auto;
	}
	.slide {
		transform: scale(0.6);
	}
	.activeSlide {
		transform: scale(1.2);
	}
}
@media (max-width: 1024px) {
	.slide img {
		width: 100%;
		height: 20rem;
		margin: 0 auto;
	}
	/* .slick-slide.slick-active.slick-center.slick-current {
    right: 1.5%;
    position: relative;
} */
	.slide {
		transform: scale(0.7);
	}
	.activeSlide {
		transform: scale(1.1);
	}
}

@media (max-width: 768px) {
	.slide img {
		width: 100%;
		height: 15rem;
		margin: 0 auto;
	}
	/* .slick-slide.slick-active.slick-center.slick-current {
    right: 1.5%;
    position: relative;
} */
	.slide {
		transform: scale(0.6);
	}
	.activeSlide {
		transform: scale(1.2);
	}
}

@media (max-width: 425px) {
	.slide img {
		width: 100%;
		height: 15rem;
		margin: 0 auto;
	}
	/* .slick-slide.slick-active.slick-center.slick-current {
    right: 1.5%;
    position: relative;
} */
	.slide {
		transform: scale(0.6);
	}
	.activeSlide {
		transform: scale(1.3);
	}
}
