.horiz-nav{

    display: flex;
    justify-content: flex-end;
    
}
.horiz-nav>div{
    
     display: flex;
    flex-direction: column;
    justify-content: center;
    border-left:1px solid #000000 ;
    width: 9%;
    padding:0 8% ;
    
    
}
.horiz-nav>div>p{
    margin-top: 380%; 
       font-size: 3.5vh;
    white-space:nowrap;
    font-family: "Light";
    transform: rotate(270deg);
}
.link{
    color: #000000;
    text-decoration: none;
}

@media screen and (max-width: 1440px) {
	.horiz-nav>div>p{
        margin-top: 380%; 
       font-size: 3.5vh;
    }
	
}

@media screen and (max-width: 1024px) {
	.horiz-nav>div>p{
        margin-top: 380%; 
       font-size: 3.3vh;
    }
   }

   @media screen and (max-width: 768px) {
	.horiz-nav>div>p{
        margin-top: 430%; 
       font-size: 2.9vh;
    }
   }

   @media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
  .horiz-nav{
    display: none;
  }
   

}