
.inner-main-div{
    


width: 64%;
padding:40px 10px 0px 10px ;
}




@media screen and (max-width: 1440px) {
	.main-img {
		width: 90%;
	}
	.inner-main-div{
		height: 73vh;
	}
	
}

@media screen and (max-width: 1024px) {
	.inner-main-div{
		height: 70vh;
	}
   }

   @media screen and (max-width: 768px) {
	.inner-main-div{
		height: 50vh;
	}
   }