/* @import url('http://fonts.cdnfonts.com/css/akira-expanded'); */
@font-face {
  font-family: "Light";   /*Can be any text*/
  src: local("AkiraExpandedDemo"),
    url("./fonts/AkiraExpandedDemo.otf") format("truetype");
}
.app {
	display: flex;
	flex-direction: column;
	background: #f9f9f9;
}
.app-main-div {
	display: flex;

	height: auto;
	border-top: 1px solid #000000;
	position: relative;
	margin-left: 40px;
}

/** Mobile **/
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
	.app-main-div {
		display: flex;
	
		height: auto;
		border-top: 1px solid #000000;
		position: relative;
		margin-left: 0px;
	}


}