@import url('http://fonts.cdnfonts.com/css/akira-expanded');
body {
	margin: 0;
	/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
	box-sizing: border-box;
	border-top: 10px solid;
	border-bottom: 10px solid;
	border-right: 15px solid;
	border-left: 15px solid;
	border-color: #0854a1;
}

code {
	font-family: "Light"
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
	body{
		margin: 0;
	/*  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
	box-sizing: border-box;
	border-top: 5px solid;
	border-bottom: 5px solid;
	border-right: 8px solid;
	border-left: 8px solid;
	border-color: #0854a1;
	}
	 
  
  }